# dependencies
node_modules/

# build
dist/
dist-ssr/

# logs
*.log
npm-debug.log*

# env
.env
.env.local
.env.*.local

# editor / OS
.DS_Store
.vscode/*
!.vscode/extensions.json
.idea/

# testing
coverage/

# misc
.cache/

# typescript build info
*.tsbuildinfo
